.ch-scrollycoding-with-preview .ch-scrollycoding-sticker {
  flex: 1 1;
  max-height: unset;
  height: 100vh;
  top: 0;
}

.ch-scrollycoding-with-preview .ch-scrollycoding-preview {
  /* height: 400px; */
}

.ch-preview .ch-frame-title-bar {
  display: none;
}

.ch-scrollycoding-sticker {
  height: 100vh;
}

img.tutorial {
  width: 100%;
}
